node_modules/
venv/
.venv/
env/
.env/
vendor/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
bower_components/
jspm_packages/
.cache/
dist/
build/
*.pyc
*.pyo
*.pyd
*.o
*.obj
*.dll
*.exe
*.so
*.a
*.lib
*.class
*.jar
*.log
